# EditorConfig is awesome: https://EditorConfig.org
# Editorconfig Properties: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# 2 space indentation
indent_size = 2
indent_style = space

# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true

# Newline ending every file
insert_final_newline = true
